{% extends "base.html" %}



{% block title %}
My Profile | EMS
{% endblock %}





{% block content %}





<div class="row justify-content-center">



    <div class="col-md-6">





        <div class="card shadow-sm border-0">





            <div class="card-body text-center">






                <div
                    class="rounded-circle bg-primary text-white d-flex align-items-center justify-content-center mx-auto mb-3"
                    style="width:80px;height:80px;font-size:32px;"
                >


                    {{ request.user.first_name|first|upper }}


                </div>







                <h3 class="fw-bold">


                    {{ request.user.first_name }}
                    {{ request.user.last_name }}


                </h3>





                <span class="badge bg-primary mb-4">


                    {{ request.user.get_role_display }}


                </span>






            </div>







            <div class="card-body border-top">





                <h5 class="fw-bold mb-3">

                    Personal Information

                </h5>







                <p>


                    <strong>
                        Email:
                    </strong>


                    {{ request.user.email }}


                </p>







                <p>


                    <strong>
                        Phone:
                    </strong>


                    {% if request.user.phone %}


                        {{ request.user.phone }}



                    {% else %}


                        <span class="text-muted">

                            Not provided

                        </span>



                    {% endif %}



                </p>







                <p>


                    <strong>
                        Role:
                    </strong>


                    {{ request.user.get_role_display }}



                </p>







            </div>







        </div>







    </div>





</div>





{% endblock %}