{% extends "base.html" %}


{% block content %}

<h2 class="mb-4">
    Tasks
</h2>

{% if user.role == "ADMIN" or user.role == "MANAGER" %}

<a
    href="{% url 'tasks:create' %}"
    class="btn btn-success mb-3"
>
    New Task
</a>

{% endif %}

<div class="card shadow">

    <div class="card-body">


        <table class="table table-striped">


            <thead class="table-dark">

                <tr>
                    <th>Title</th>
                    <th>Project</th>
                    <th>Assigned To</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Due Date</th>
                    <th>Actions</th>
                </tr>

            </thead>


            <tbody>


            {% for task in tasks %}

                <tr>


                    <td>
                        {{ task.title }}
                    </td>


                    <td>
                        {{ task.project.name }}
                    </td>


                    <td>

                        {% if task.assigned_to %}

                            {{ task.assigned_to }}

                        {% else %}

                            -

                        {% endif %}

                    </td>


                    <td>


                        {% if task.status == "COMPLETED" %}

                            <span class="badge bg-success">
                                Completed
                            </span>


                        {% elif task.status == "IN_PROGRESS" %}

                            <span class="badge bg-primary">
                                In Progress
                            </span>


                        {% elif task.status == "CANCELLED" %}

                            <span class="badge bg-danger">
                                Cancelled
                            </span>


                        {% else %}

                            <span class="badge bg-secondary">
                                Todo
                            </span>


                        {% endif %}


                    </td>


                    <td>


                        {% if task.priority == "HIGH" %}

                            <span class="badge bg-danger">
                                High
                            </span>


                        {% elif task.priority == "MEDIUM" %}

                            <span class="badge bg-warning">
                                Medium
                            </span>


                        {% else %}

                            <span class="badge bg-success">
                                Low
                            </span>


                        {% endif %}


                    </td>


                    <td>
                        {{ task.due_date }}
                    </td>
                    <td>

                        <a
                            href="{% url 'tasks:detail' task.id %}"
                            class="btn btn-primary btn-sm"
                        >
                            Show
                        </a>

                    </td>


                </tr>


            {% empty %}

                <tr>
                    <td colspan="6" class="text-center">
                        No tasks found
                    </td>
                </tr>


            {% endfor %}


            </tbody>


        </table>


    </div>

</div>


{% endblock %}